<div>
  <h3>Add Video</h3>
  <form #addvideoForm="ngForm" (ngSubmit)="save(addvideoForm)">
    <div>
      <label>Title:
        <input placeholder="title" name="title" class="form-control" [(ngModel)]="video.title">
      </label>
      <br/>
      <label>Description:
        <input placeholder="description" name="description" class="form-control" [(ngModel)]="video.description">
      </label>
      <br/>
    </div>
    <button type="submit" class="btn btn-primary">save</button>
  </form>
</div>
